@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

html body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* Custom Scrollbar */
/* Custom Scrollbar - Global */
::-webkit-scrollbar {
    height: 0.5vh; /* Thickness of horizontal scrollbar */
    width: 0.5vw; /* Thickness of vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.zinc.400');
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.zinc.600');
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: theme('colors.zinc.600');
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: theme('colors.zinc.400');
    }
}

.my-app-dark ::-webkit-scrollbar-thumb {
    background-color: theme('colors.zinc.600');
}

.my-app-dark ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.zinc.400');
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
