@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

html body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* Custom Scrollbar */
/* Custom Scrollbar - Global */
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.zinc.400');
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.zinc.600');
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: theme('colors.zinc.600');
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: theme('colors.zinc.400');
    }
}

.my-app-dark ::-webkit-scrollbar-thumb {
    background-color: theme('colors.zinc.600');
}

.my-app-dark ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.zinc.400');
}

.mobile-active-btn {
    @apply transition-colors duration-200;
    @apply @max-sm:bg-zinc-100 dark:@max-sm:bg-zinc-800;
    @apply hover:bg-zinc-100 dark:hover:bg-zinc-800;
}
